/* ====================== FUENTES ====================== */

/* 800 HACHES / 100 PES / 400 BOLD */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;800&display=swap');
/* font-family: 'Raleway', sans-serif; */

/* ====================== COLORES ====================== */

@import url(colores.css);

*{
    font-family: 'Raleway', sans-serif;
}

*::selection{
    background-color: var(--principal-color);
}

p, li, a, blockquote {
    font-size: 1.5rem;
    color: var(--gray90-color);
}

h1, h2, h3, h4, h5, h6 {
    font-size: 2rem;
    color: var(--principal-color);
}

li {
    text-decoration: none;
}

/* ------------------- NAVBAR ------------------- */
.menu-item{
    text-decoration: none;
    font-weight: 800;
    color: var(--principal-color);
    text-shadow: 2px 2px 2px var(--principal-dark-color);
    transition: ease 2s;
}

.menu-item:hover{
    color: var(--principal-light-color);
    text-shadow: 2px 2px 2px var(--principal-color);
    top: -7px;
}

.menu-item:visited{
    color: var(--principal-dark-color);
    text-shadow: 2px 2px 2px var(--principal-color);
}

.menu-item::selection{
    background-color: var(--opposite-color);
}

/* ------------------- FOOTER ------------------- */
.footer-title{
    text-shadow: none;
    font-size: 2rem;
    color: var(--white-color);
    text-align: center;
    font-weight: 800;
}

.footer-title::selection {
    background-color: var(--principal-color);
    text-shadow: none;
}
